

Personal loans are a lucrative revenue stream for banks. The typical interest rate of a two-year loan in the United Kingdom is [around 10%](https://www.experian.com/blogs/ask-experian/whats-a-good-interest-rate-for-a-personal-loan/). This might not sound like a lot, but in September 2022 alone UK consumers borrowed [around £1.5 billion](https://www.ukfinance.org.uk/system/files/2022-12/Household%20Finance%20Review%202022%20Q3-%20Final.pdf), which would mean approximately £300 million in interest generated by banks over two years!

You have been asked to work with a bank to clean the data they collected as part of a recent marketing campaign, which aimed to get customers to take out a personal loan. They plan to conduct more marketing campaigns going forward so would like you to ensure it conforms to the specific structure and data types that they specify so that they can then use the cleaned data you provide to set up a PostgreSQL database, which will store this campaign's data and allow data from future campaigns to be easily imported. 

They have supplied you with a csv file called `"bank_marketing.csv"`, which you will need to clean, reformat, and split the data, saving three final csv files. Specifically, the three files should have the names and contents as outlined below:

--------------------------------------------------------------------------------------------------------------------

Los préstamos personales son una lucrativa fuente de ingresos para los bancos. El tipo de interés típico de un préstamo a dos años en el Reino Unido ronda el 10%. Puede que esto no parezca mucho, pero solo en septiembre de 2022 los consumidores del Reino Unido pidieron prestado alrededor de £1,500 millones, lo que significaría aproximadamente £300 millones en intereses generados por los bancos durante dos años.

Le pidieron que trabajara con un banco para limpiar los datos que recopilaron como parte de una campaña de marketing reciente, cuyo objetivo era lograr que los clientes solicitaran un préstamo personal. Planean realizar más campañas de marketing en el futuro, por lo que le gustaría que se asegure de que se ajuste a la estructura específica y los tipos de datos que especifican para que luego puedan usar los datos limpios que usted proporcione para configurar una base de datos PostgreSQL, que almacenará los datos de esta campaña. datos y permitir que los datos de futuras campañas se importen fácilmente.

Le han proporcionado un archivo csv llamado "bank_marketing.csv", que deberá limpiar, reformatear y dividir los datos, guardando tres archivos csv finales. Específicamente, los tres archivos deben tener los nombres y contenidos que se describen a continuación:

## `client.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `age` | `integer` | Client's age in years | N/A |
| `job` | `object` | Client's type of job | Change `"."` to `"_"` |
| `marital` | `object` | Client's marital status | N/A |
| `education` | `object` | Client's level of education | Change `"."` to `"_"` and `"unknown"` to `np.NaN` |
| `credit_default` | `bool` | Whether the client's credit is in default | Convert to `boolean` data type:<br> `1` if `"yes"`, otherwise `0` |
| `mortgage` | `bool` | Whether the client has an existing mortgage (housing loan) | Convert to boolean data type:<br> `1` if `"yes"`, otherwise `0` |

<br>

## `campaign.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `number_contacts` | `integer` | Number of contact attempts to the client in the current campaign | N/A |
| `contact_duration` | `integer` | Last contact duration in seconds | N/A |
| `previous_campaign_contacts` | `integer` | Number of contact attempts to the client in the previous campaign | N/A |
| `previous_outcome` | `bool` | Outcome of the previous campaign | Convert to boolean data type:<br> `1` if `"success"`, otherwise `0`. |
| `campaign_outcome` | `bool` | Outcome of the current campaign | Convert to boolean data type:<br> `1` if `"yes"`, otherwise `0`. |
| `last_contact_date` | `datetime` | Last date the client was contacted | Create from a combination of `day`, `month`, and a newly created `year` column (which should have a value of `2022`); <br> **Format =** `"YYYY-MM-DD"` |

<br>

## `economics.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `cons_price_idx` | `float` | Consumer price index (monthly indicator) | N/A |
| `euribor_three_months` | `float` | Euro Interbank Offered Rate (euribor) three-month rate (daily indicator) | N/A |

https://app.datacamp.com/learn/fast-tracks/data-scientist-professional/continue/project-1613?projectId=1613

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("bank_marketing.csv")

for col in ["credit_default", "mortgage", "previous_outcome", "campaign_outcome"]:
    print(col)
    print("--------------")
    print(df[col].value_counts())

credit_default
--------------
credit_default
no         32588
unknown     8597
yes            3
Name: count, dtype: int64
mortgage
--------------
mortgage
yes        21576
no         18622
unknown      990
Name: count, dtype: int64
previous_outcome
--------------
previous_outcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64
campaign_outcome
--------------
campaign_outcome
no     36548
yes     4640
Name: count, dtype: int64

### Explorando datos

In [3]:
df.head(5)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   age                         41188 non-null  int64
 2   job                         41188 non-null  object
 3   marital                     41188 non-null  object
 4   education                   41188 non-null  object
 5   credit_default              41188 non-null  object
 6   mortgage                    41188 non-null  object
 7   month                       41188 non-null  object
 8   day                         41188 non-null  int64
 9   contact_duration            41188 non-null  int64
 10  number_contacts             41188 non-null  int64
 11  previous_campaign_contacts  41188 non-null  int64
 12  previous_outcome            41188 non-null  object
 13  cons_price_idx              41188 non-null  float64
 14  euribor_three_months        41188 non-null  float64
 15  campaign_outcome            41188 non-null  object
dtypes: float64(2), int64(6), object(8)
memory usage: 5.0+ MB
None

### Creacion de los distintos DataFrame

In [4]:
client= df[["client_id", "age", "job", "marital", "education", "credit_default", "mortgage"]]
campaign = df[["client_id", "number_contacts", "month", "day", 
               "contact_duration", "previous_campaign_contacts", "previous_outcome", "campaign_outcome"]]
economics = df[["client_id", "cons_price_idx", "euribor_three_months"]]

### Adaptando los datos al requerimiento del ejercicio

In [5]:
client.loc[:, 'job'] = client.loc[:,'job'].str.replace('.', '_')

#client['job'] = client['job'].str.replace('.', '_')
client.loc[:,'education'] = client.loc[:,'education'].str.replace('.','_') 

client.loc[:,"education"] = client.loc[:,"education"].replace("unknown", np.NaN)

In [6]:
for col in ['credit_default', 'mortgage']:
    client.loc[:,col] = client.loc[:,col].map({'yes':1, 'no':0,'unknown':0})
    client.loc[:,col] = client.loc[:,col].astype(bool)

In [7]:
campaign['previous_outcome'].unique()

array(['nonexistent', 'failure', 'success'], dtype=object)

In [8]:
# Change campaign_outcome to binary values
campaign.loc[:,"campaign_outcome"] = campaign.loc[:,"campaign_outcome"].map({"yes": 1, 
                                                                 "no": 0})

# Convert previous_outcome to binary values
campaign.loc[:,"previous_outcome"] = campaign.loc[:,"previous_outcome"].map({"success": 1, 
                                                                 "failure": 0,
                                                                 "nonexistent": 0})

# Add year column
campaign.loc[:,"year"] = "2022"

# Convert day to string
campaign.loc[:,"day"] = campaign.loc[:,"day"].astype(str)

# Add last_contact_date column
campaign.loc[:,"last_contact_date"] = campaign.loc[:,"year"] + "-" + campaign.loc[:,"month"] + "-" + campaign.loc[:,"day"]

# Convert to datetime
campaign.loc[:,"last_contact_date"] = pd.to_datetime(campaign.loc[:,"last_contact_date"], 
                                               format="%Y-%b-%d")

# Clean and convert outcome columns to bool
for col in ["campaign_outcome", "previous_outcome"]:
  campaign.loc[:,col] = campaign.loc[:,col].astype(bool)

# Drop unneccessary columns
campaign.drop(columns=["month", "day", "year"])

C:\Users\dmcar\AppData\Local\Temp\ipykernel_5540\677824137.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign.loc[:,"year"] = "2022"
C:\Users\dmcar\AppData\Local\Temp\ipykernel_5540\677824137.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['13' '19' '23' ... '24' '17' '23']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  campaign.loc[:,"day"] = campaign.loc[:,"day"].astype(str)
C:\Users\dmcar\AppData\Local\Temp\ipykernel_5540\677824137.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign.loc[:,"last_contact_date"] = campaign.loc[:,"year"] + "-" + campaign.loc[:,"month"] + "-" + campaign.loc[:,"day"]

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,last_contact_date
0,0,1,261,0,False,False,2022-05-13 00:00:00
1,1,1,149,0,False,False,2022-05-19 00:00:00
2,2,1,226,0,False,False,2022-05-23 00:00:00
3,3,1,151,0,False,False,2022-05-27 00:00:00
4,4,1,307,0,False,False,2022-05-03 00:00:00
...,...,...,...,...,...,...,...
41183,41183,1,334,0,False,True,2022-11-30 00:00:00
41184,41184,1,383,0,False,False,2022-11-06 00:00:00
41185,41185,2,189,0,False,False,2022-11-24 00:00:00
41186,41186,1,442,0,False,True,2022-11-17 00:00:00
41187,41187,3,239,1,False,False,2022-11-23 00:00:00

### Importando los datos limpios a CSV

In [9]:
client.to_csv("client.csv", index=False)
campaign.to_csv("campaign.csv",index=False)
economics.to_csv("economics.csv", index=False)